!!!
%html
  %head
    %title Le Zamblog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = auto_discovery_link_tag :atom, "/feed"
    = auto_discovery_link_tag :rss, "/feed.rss"
    = csrf_meta_tags
  %body
    =image_tag("cover_filtered.jpg", class: "cover")
    .row
      .columns.medium-9.medium-centered
        .columns.small-8
          %h1.special_font Le Zamb'log
          %h4.soustitre Un carnet de route en Zambie
          %br
        .columns.small-4.contact_box
          %br
          %p
            #{icon('github')} | 
            =link_to(" /jum-s", "https://www.github.com/jum-s")
            %br
            #{icon('twitter')} | 
            =link_to(" @jumijums", "https://www.twitter.com/jumijums")
            %br
            #{icon('rss')} | 
            =link_to(" RSS", "/feed")
        .columns
          = yield
    %footer
      .row
        .columns.small-3
          %br
          %p
            #{icon('github')} | 
            =link_to(" /jum-s", "https://www.github.com/jum-s")
            %br
            #{icon('twitter')} | 
            =link_to(" @jumijums", "https://www.twitter.com/jumijums")
        .columns.small-3
          %br
          %p
            #{icon('youtube-play')} | 
            =link_to(" Jum-s", "https://www.dailymotion.com/Jum-s")
            %br
            #{icon('rss')} | 
            =link_to(" RSS", "/feed")
        .columns.small-6
          %br
          %p
            Un avis ? Une insulte ? Des nouvelles à me donner :
            %br
            #{icon('envelope-o')} vincent.jumeaux at gmail.com

